* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

::-webkit-input-placeholder {
   color: #fff;
   opacity: 0.76;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  opacity: 0.76;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;
  opacity: 0.76;
}
:-ms-input-placeholder {
  color: #fff;
  opacity: 0.76;
}

body {
  background-color: #473576;
  animation: colorchange 50s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 50s infinite; /* Chrome and Safari */
  color: #fff;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

@keyframes colorchange
{
  0%   {background: #762069;}
  50%  {background: #005689;}
  100% {background: #762069;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #762069;}
  50%  {background: #005689;}
  100% {background: #762069;}
}

#search_bg {
  background-color: #fff;
  opacity: 0.1;
  height: 60px;
  width: 100%;
}

#search_field {
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  background-color: inherit;
  opacity: 1.0;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 16px;
  color: #fff;
}

#search_field:focus {
  outline: none;
}

.year_section {
  padding: 16px;
}

.year_section:hover{
  background-color:rgba(255, 255, 255, 0.05);
}

.year {
  font-family: "Georgia", serif;
  font-size: 13px;
  margin-bottom: 16px;
}
.article_element {
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: #fff;
  opacity: 0.76%;
  display: inline-block;
  margin-right: 2px;
}

.empty_screen {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.76;
}

#tips{
  margin-top: 21px;
}

#tips p {
  margin-bottom: 8px;
}

#tips li {
  margin-bottom: 10px;
  margin-left: 16px;
  list-style: disc;
}

#contact {
  margin-top: 24px;
  font-size: 12px;
}

@media (min-width: 768px) {
  #search_bg {
    height: 100px;
  }

  #search_field {
    font-size: 52px;
    height: 100px;
  }
  .year , .articles {
    float: left;
  }
  .year {
    width: 10%;
    margin-bottom: 0px;
  }
  .articles {
    width: 90%;
  }
  .empty_screen {
    max-width: 768px;
  }
  .article_element {
    width: 16px;
    height: 16px;
  }
}
